.entry {
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 25%);

        &-img {
            width: 420px;
            height: 160px;
        }

        &-title {
            font-weight: 700;
            color: rgb(40, 39, 39);
            font-size: 26px;
            text-align: center;
        }

        &-items {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &-item {
                display: flex;
                justify-content: space-between;
                column-gap: 30px;
                align-items: center;
                background: #f2f3f3;
                padding: 10px;
                border-radius: 12px;
            }

            &-item.selected {
                border: 2px solid #EE417D;
            }

            &-item>p {
                font-weight: 400;
                font-size: 18px;
                color: rgb(40, 39, 39);
                text-align: center;
            }
        }

        &-btn {
            background: #CDCFD0;
            padding: 13px 32px;
            border-radius: 12px;
            color: white;
            font-weight: 500;
            font-size: 17px;
            text-align: center;
        }

        &-btn:hover {
            background: #EE417D;
            transition: 0.6s;
        }
    }
}

.welcome {
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 60%);

        &-img {
            width: 420px;
            height: 160px;
        }

        &-title {
            font-weight: 700;
            color: rgb(40, 39, 39);
            font-size: 26px;
            text-align: center;
        }

        &-btn {
            background: #EE417D;
            padding: 13px 32px;
            border-radius: 12px;
            color: white;
            font-weight: 500;
            font-size: 17px;
            text-align: center;
        }

    }
}

.device {
    display: flex;
    position: relative;

    &__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px;

        &-img {
            width: 200px;
            height: 80px;
        }

        &-info {
            color: #EE417D;
            border: 1px solid #EE417D;
            padding: 12px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 400;
        }

        &-buttons {
            background: #e7e8e8;
            padding: 10px;
            display: flex;
            row-gap: 8px;
            border-radius: 12px;
            font-size: 13px;
            font-weight: 500;
            position: relative;
        }

        &-button:focus {
            outline: none;
        }

        &-menu {
            position: absolute;
            top: 66%;
            right: 12%;
            background: #e7e8e8;
            border-radius: 8px;
            padding: 10px;
        }

        &-menu>p {
            margin: 0;
            padding: 8px 12px;
            cursor: pointer;
        }

        &-menu>p:hover {
            background: white;
            border-radius: 8px;
            transition: 0.5s;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 40%);

        &-title {
            font-size: 43px;
            color: rgb(29, 27, 27);
            font-weight: 700;
            text-align: center;
        }

        &-text {
            font-size: 25px;
            color: rgb(29, 27, 27);
            font-weight: 700;
            text-align: center;
        }

        &-btn {
            background: #EE417D;
            padding: 13px 32px;
            border-radius: 12px;
            color: white;
            font-weight: 500;
            font-size: 17px;
            text-align: center;
        }

        &-item {
            display: flex;
            column-gap: 10px;
            align-self: center;
        }

        &-item>p {
            padding: 12px 20px;
            border: 1px solid #CDCFD0;
            font-size: 25px;
            color: rgb(29, 27, 27);
            font-weight: 700;
            background: #e7e8e8;
            border-radius: 8px;
        }
    }
}